@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

$font-main: 'Quicksand', sans-serif;

html,
body {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $color-bg;
  color: $color-white;
  //   box-sizing: border-box;
}
