.contact {
  min-height: calc(100vh - 672px);
  padding: 125px 0 80px;

  @media #{$md} {
    padding: 200px 0 110px;
  }
  @media #{$lg} {
    padding: 250px 0 140px;
  }

  &__container {
    @include flex(flex-start, center, nowrap);
    flex-direction: column;
  }

  &__img {
    @media #{$lg} {
      position: absolute;
      top: 27%;
      left: -17%;
      height: 730px;
    }

    img,
    svg {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @extend %text-medium;
    @extend %text-medium--medium;
    text-transform: uppercase;
    color: $color-extra;
    text-align: center;
    margin-top: 55px;

    @media #{$md} {
      margin-top: 0;
    }
  }

  &__subtitle {
    @extend %text-title;
    @extend %text-title--bold;
    text-align: center;
  }

  &__list {
    @include flex(space-between, flex-start, nowrap);
    flex-direction: column;
    width: 95%;
    margin: 85px auto 0;

    @media #{$lg} {
      flex-direction: row;
      margin: 65px auto 0;
    }
  }

  &__item {
    @include flex(center, center, nowrap);
    flex-direction: column;
    border: 2px solid $color-white;
    border-radius: 40px;
    width: 100%;
    min-height: 304px;
    margin-bottom: 30px;

    @media #{$lg} {
      width: 32%;
      margin-bottom: 0;
    }

    &:nth-of-type(1) {
      background-color: rgba($color-bg-1, 0.3);
    }

    &-img {
      margin-bottom: 20px;
    }

    &-title {
      @extend %text;
      @extend %text--bold;
      font-size: 30px;
    }

    &-subtitle {
      @extend %text;
      @extend %text--medium;
    }

    &-link {
      @include flex(center, center, nowrap);
      @extend %text;
      @extend %text--bold;

      &:nth-of-type(1) {
        margin-top: 20px;
      }

      svg {
        margin-right: 10px;

        path {
          fill: $color-white;
        }
      }
    }

    &-desc {
      @extend %text;
      @extend %text--medium;

      strong {
        @extend %text--bold;
        text-transform: uppercase;
        font-size: 18px;
      }
    }

    &--extra {
      border-color: $color-extra;

      & > * {
        color: $color-extra;
      }

      .contact {
        &__item {
          &-link {
            svg path {
              fill: $color-extra;
            }
          }
        }
      }
    }

    &--alt {
      background-color: $color-white;

      & > * {
        color: $color-bg-2;
      }
    }
  }

  &__socials {
     padding: 55px 0 30px;

    &-list {
      @include flex(center, center, nowrap);
      width: 100%;
    }
    &-item {
      margin: 0 20px;
      width: 25px;
      height: 25px;

      svg, img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }

  &__desc {
    padding: 50px 0;

    @media #{$lg} {
      padding: 50px 0 40px;
    }

    &-title {
      @extend %text;
      @extend %text--bold;
      font-size: 36px;
      text-align: center;
      margin-bottom: 30px;

      @media #{$lg} {
        font-size: 48px;
      }
    }

    &-text {
      @extend %text;
      @extend %text--medium;
      font-size: 18px;
      text-align: center;
      color: $color-secondary;
    }
  }
}
