.gallery {
  padding: 25px 0 130px;

  @media #{$lg} {
    padding: 65px 0 130px;
  }

  &__title {
    @extend %text-huge;
    @extend %text-huge--bold;
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    @extend %text-static-18;
    @extend %text-static-18--medium;
    text-align: center;
    line-height: 125.5%;
    width: 80%;
    margin: 0 auto 80px;
  }

  &__container {
    position: relative;
    width: 82%;
    margin: 0 auto;


  }

  &__item {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-extra;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: -1;

      @media #{$lg} {
        top: 25px;
      right: 25px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--alt {
      &::after {
        right: -15px;

        @media #{$lg} {
          right: -25px;
        }
      }
    }

    &--1 {
      width: 100%;

      @media #{$lg} {
        width: 69%;
      }
    }

    &--2 {
      width: 80%;
      margin-left: auto;
      margin-top: 50px;

      @media #{$lg} {
        width: 50%;
        margin-top: -90px;
      }
      @media #{$xxl} {
        width: 50%;
        margin-top: -190px;
      }
    }

    &--3 {
      width: 80%;
      margin-top: 50px;
     
      @media #{$lg} {
        width: 52%;
        margin-left: 135px;
        margin-top: -185px;
      }
      @media #{$xxl} {
        width: 52%;
     
        margin-top: -285px;
      }
    }
  }
}
