/* ==========================================================================
   Grid
   ========================================================================== */

/* Gutter
   ========================================================================== */

   $grid-gutter: 15px;
   $grid-gutter-container: 28px;


/* Container
  ========================================================================== */

   $grid-container: 100%;
   $grid-container-sm: 540px;
   $grid-container-md: 720px;
   $grid-container-lg: 960px;
   $grid-container-xl: 1140px;
   $grid-container-xxl: 1430px;


/* Breakpoints
  ========================================================================== */

   $min-sm: 576px;
   $min-md: 768px;
   $min-lg: 992px;
   $min-xl: 1200px;
   $min-xxl: 1440px;
   $min-full-hd: 1900px;

   $max-xs: 575px;
   $max-sm: 767px;
   $max-md: 991px;
   $max-lg: 1199px;
   $max-xl: 1439px;