%text {
  font-size: 14px;
  line-height: normal;

  &--medium {
    font-weight: 500;
  }
  &--bold {
    font-weight: 700;
  }
}

%text-small {
  font-size: 13px;
  line-height: normal;

  &--medium {
    font-weight: 500;
  }
  &--bold {
    font-weight: 700;
  }
}

%text-medium {
  font-size: 18px;
  line-height: normal;

  &--medium {
    font-weight: 500;
  }
}

%text-bigger {
  font-size: 24px;
  line-height: normal;

  &--medium {
    font-weight: 500;
  }
  &--bold {
    font-weight: 700;
  }
}

%text-big {
  font-size: 24px;
  line-height: normal;

  &--title {
    @media #{$md} {
      font-size: 30px;
    }
    @media #{$lg} {
      font-size: 36px;
    }
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }
}

%text-huge {
  font-size: 36px;
  line-height: normal;

  @media #{$md} {
    font-size: 42px;
  }
  @media #{$lg} {
    font-size: 48px;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }
}

%text-title {
  font-size: 36px;
  line-height: normal;

  @media #{$md} {
    font-size: 42px;
  }
  @media #{$lg} {
    font-size: 64px;
  } 

  &--bold {
    font-weight: 700;
  }
}

%text-static-18 {
  font-size: 18px;

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }
}

%text-value {
  font-size: 72px;
  line-height: 112.5%;
  font-weight: 700;
}

%menu-text {
  font-size: 24px;

  @media #{$lg} {
    font-size: 18px;
  }
}

%button {
  font-size: 18px;
  font-weight: 500;
  line-height: 2.66;
}
